<div class="status-heading">DataStore:</div>
<div class="status-item">{{ record_count }} Records</div>
<div class="status-item">{{ sentiment_count }} Sentiments</div>
<div class="status-item">{{ aggregate_count }} Aggregates</div>
<div class="status-heading">Queue:</div>
<div class="status-item">{{ waiting_for_analysis_count }} Sentiment Analysis</div>
<div class="status-item">{{ waiting_for_term_count }} Term Analysis</div>
<div class="status-item">{{ waiting_for_aggregation_count }} Aggregation</div>