<html>
  <body>
    <a href="{{ logout_url }}">Logout ({{ current_user }})</a> <br><br>
    
    <a href="/util/killall">Kill All</a> <br>
    
    <a href="/util/kill?ent=Company">Kill Companies</a> <br>
    <a href="/util/kill?ent=Word">Kill Words</a> <br>
    <a href="/util/kill?ent=Record">Kill Records</a> <br>
    <a href="/util/kill?ent=Sentiment">Kill Sentiments</a> <br>
    <a href="/util/kill?ent=Aggregate">Kill Aggregates</a> <br>
    
    <br><br><br><br>
    
    <a href="/util/loadall">Load All</a> <br>
    <a href="/util/loadwords">Load Words</a> <br>
    <a href="/util/loadcompany">Load Companies</a> <br><br><br><br>
    
    <a href="/crawler?company_name=Apple">Crawl Apple</a> <br>
    <a href="/crawler?company_name=Starbucks">Crawl Starbucks</a> <br>
    
    <br><br>
    
    <a href="/sentiment">Calculate Sentiment</a> <br>
    
    <a href="/sentiment?random_vals=1">Calculate Sentiment with Random Values</a> <br>
    
    
    <br><br>
    
    <a href="/aggregate">Aggregate Values</a> <br>
    
  </body>
</html>